{{ define "body_width" }}max-w-none{{ end }}

{{ define "main" }}
    <h1 class="text-6xl font-bold text-primary-400 pb-12 text-center">photography</h1>

    {{ $images := resources.Match "img/gallery/*.{jpg,jpeg,png,JPG,JPEG,PNG}" }}
    {{ $images = sort $images ".Name" "asc" }}

    <div id="masonry-gallery" class="px-4 mx-auto" style="max-width:1600px">
      {{ range $i, $img := $images }}
      {{ $thumb := $img.Resize "600x webp" }}
      {{ $baseName := replaceRE `\.[^.]+$` "" (path.Base $img.Name) }}
      {{ $metaPath := printf "img/gallery/%s.yaml" $baseName }}
      {{ $metaResource := resources.Get $metaPath }}
      {{- $meta := dict }}
      {{- if $metaResource }}
        {{- $meta = $metaResource.Content | transform.Unmarshal }}
      {{- end }}
      {{/* Extract EXIF data from the original image */}}
      {{- $exif := $img.Exif }}
      {{- $exifDate := "" }}
      {{- $exifFocal := "" }}
      {{- $exifLens := "" }}
      {{- $exifISO := "" }}
      {{- $exifShutter := "" }}
      {{- if $exif }}
        {{- with $exif.Date }}
          {{- $exifDate = .Format "2006-01-02" }}
        {{- end }}
        {{- with $exif.Tags.FocalLength }}
          {{- $exifFocal = printf "%vmm" (int (math.Round .)) }}
        {{- end }}
        {{- with $exif.Tags.LensModel }}
          {{- $exifLens = . }}
        {{- end }}
        {{- with $exif.Tags.ISO }}
          {{- $exifISO = printf "%v" . }}
        {{- end }}
        {{- with $exif.Tags.ExposureTime }}
          {{- $exifShutter = printf "%vs" . }}
        {{- end }}
      {{- end }}
      {{/* YAML values override EXIF */}}
      {{- $date := $meta.date | default $exifDate }}
      {{- $focalLength := $meta.focal_length | default $exifFocal }}
      {{- $lens := $meta.lens | default $exifLens }}
      {{- $iso := $meta.iso | default $exifISO }}
      {{- $shutter := $meta.shutter_speed | default $exifShutter }}
      {{- $albums := $meta.albums | default (slice "Japan") }}
      <div class="gallery-item"
           data-src="{{ $thumb.RelPermalink }}"
           data-full-src="{{ $img.RelPermalink }}"
           data-w="{{ $thumb.Width }}"
           data-h="{{ $thumb.Height }}"
           {{- with $meta.title }} data-title="{{ . }}"{{ end }}
           {{- with $meta.description }} data-description="{{ . }}"{{ end }}
           {{- with $date }} data-date="{{ . }}"{{ end }}
           {{- with $meta.location }} data-location="{{ . }}"{{ end }}
           {{- with $focalLength }} data-focal-length="{{ . }}"{{ end }}
           {{- with $lens }} data-lens="{{ . }}"{{ end }}
           {{- with $iso }} data-iso="{{ . }}"{{ end }}
           {{- with $shutter }} data-shutter="{{ . }}"{{ end }}
           data-albums="{{ delimit $albums "," }}">
        <img alt="{{ $meta.title | default (printf "photo %d" $i) }}">
      </div>
      {{ end }}
    </div>

    {{ $js := resources.Get "js/shortcodes/gallery.js" }}
    <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
