/* Custom CSS for article link elements */

/* Styles for the card.html layout */
.article-link-title:hover {
    color: rgb(var(--color-primary-500));
} 

/* Background hover effect */
.min-h-full.rounded.overflow-hidden {
    position: relative;
    overflow: hidden;
}

.min-h-full.rounded.overflow-hidden::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-primary-500));
    transition: opacity 1s ease;
    /* Overlay z-index */
    z-index: 1;
    opacity: 0;
}

.min-h-full.rounded.overflow-hidden.is-hovered::before {
    opacity: 0.5;
    transition: opacity 1s ease;
}

/* Set z-index for the thumbnail image container */
.min-h-full.rounded.overflow-hidden .thumbnail_card {
    position: relative; /* Ensure positioning context for z-index */
    z-index: 0; /* Place the thumbnail behind the overlay */
}

/* Ensure other content stays above the sliding background */
.min-h-full.rounded.overflow-hidden > *:not(.thumbnail_card) {
    position: relative; /* Ensure positioning context for z-index */
    z-index: 2; /* Place other content above the overlay */
}

/* Temporary rule to check if .is-hovered class is applied */
.min-h-full.rounded.overflow-hidden.is-hovered::before {
    opacity: 0.5;
    transition: opacity 1s ease;
}