/* Prevent headers from being highlightable globally */
.non-select-header {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.prose {
    max-width: none;
    text-align: justify;
}

/* If you also need to target dark mode specifically for the override */
.prose {
    max-width: none;
    text-align: justify;
}

/* Custom grid for author bio */
.author-bio-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem; /* Adding a default gap similar to Tailwind's gap-4 */
}

/* Add responsive behavior for stacking on small screens */
@media (max-width: 852px) { /* Using 853px as the md breakpoint based on theme */
    .author-bio-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* Apply column layout on medium screens and up */
@media (min-width: 853px) { /* Using 853px as the md breakpoint based on theme */
    .author-bio-grid > section:first-child {
        grid-column: 1;
    }
    .author-bio-grid > section:nth-child(2) {
        grid-column: 2 / span 2;
    }
}

/* SVG dark mode support */
.dark .dark-mode-svg {
    filter: invert(1) hue-rotate(180deg);
}

/* Optional: Add a smooth transition when switching themes */
.dark-mode-svg {
    transition: filter 0.3s ease-in-out;
}

/* Custom styles for the logo */
.logo {
    @apply text-neutral-800 dark:text-neutral-200;
}

.logo svg {
    @apply h-[5rem] w-[5rem];
    transition: color 0.3s ease;
}

/* Hover effect */
.logo:hover {
    @apply text-primary-600 dark:text-primary-400;
}