<div class="py-10">
  <div class="author-bio-grid">
    <section>
      {{ with .Site.GetPage "authors/admin" }}
        {{ $authorPage := . }}
        {{ $disableImageOptimization := site.Params.disableImageOptimization | default false }}
        <div class="flex flex-col items-center text-center">
          {{ with site.Params.Author.image }}
            {{ $authorImage := "" }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
              {{ $authorImage = resources.GetRemote . }}
            {{ else }}
              {{ $authorImage = resources.Get . }}
            {{ end }}
            {{ if $authorImage }}
              {{ if not $disableImageOptimization }}
                {{ $authorImage = $authorImage.Fill "250x250 q96" }}
              {{ end }}
              <img class="mb-6 rounded-full aspect-square object-cover" 
                alt="{{ site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
            {{ end }}
          {{ end }}
          {{ with site.Params.Author.name | title | markdownify }}
            <h2 class="font-bold leading-6 text-neutral-800 dark:text-neutral-200 text-3xl">
              {{ . }}
            </h2>
          {{ end }}
          {{ with $authorPage.Params.role | markdownify }}
            <p class="mt-4 text-neutral-700 dark:text-neutral-400">{{ . }}</p>
          {{ end }}
          {{ with $authorPage.Params.organizations }}
            {{ range . }}
              {{ with .name | markdownify }}
                <p class="mt-1 text-neutral-700 dark:text-neutral-400">{{ . }}</p>
              {{ end }}
            {{ end }}
          {{ end }}
          {{ with site.Params.Author.headline | markdownify }}
            <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
          {{ end }}
          <div class="mb-4 mt-4">{{ partialCached "author-links.html" . }}</div>

          <!-- ✅ Moved Education section here -->
          {{ with $authorPage.Params.education.courses }}
            <div class="ml-4 text-left w-full text-md">
              <h2 class="font-bold text-neutral-700 dark:text-neutral-200 text-xl mb-2">Education</h2>
              {{ range . }}
                {{ with .course }}
                  <p class="text-neutral-800 dark:text-neutral-200 space-y-1">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .institution }}
                  <p class="text-neutral-700 dark:text-neutral-400  mb-3">{{ . | markdownify }}</p>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </section>

    <section>
      <section class="prose dark:prose-invert">
        {{ with .Site.GetPage "authors/admin" }}
          {{ .Content }}
        {{ end }}
      </section>
    </section>
  </div>
</div>
