<!-- <div class="grid grid-cols-3" style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr));">
  <section class="col-span-1" style="grid-column: span 1 / span 1;">
    {{ partial "author-home.html" . }}
  </section>
  <section class="col-span-2" style="grid-column: span 2 / span 2;">
    <section class="prose dark:prose-invert">
      <h1 class="text-primary-300">Biography</h1>
      <h2>Academic background</h2>

      <p>I completed my PhD in Physics at Rice University in Houston. I was advised by Professors Andrew Long and
        Mustafa Amin. My research consists of quantifying cosmological signatures of axion-like particles, looking for
        evidence of them in cosmological and astrophysical data. In particular, I focused on the prospect of detecting
        axion strings via the cosmic microwave background using an effect known as cosmic birefringence. A full list
        of my publications can be found here, and an unofficial copy of my thesis is available here.</p>

      <p>As an undergrad I did research in computational nanophotonics with Nicolas Large at the University of Texas
        at San Antonio and did NSF REUs at Brigham Young University and the University of Chicago where I studied
        quantum dynamics and cosmology respectively.</p>

      <p>A copy of my resume can be found here.</p>
    </section>
  </section>
</div> -->

<div class="py-10">
  <div class="author-bio-grid">
    <section>
      {{ partial "author-home.html" . }}
    </section>
    <section>
      <section class="prose dark:prose-invert">
        {{ with .Site.GetPage "authors/admin" }}
          {{ .Content }}
        {{ end }}
      </section>
    </section>
  </div>
</div>
